# CONFIGURAÇÕES DE AMBIENTE
SPRING_PROFILES_ACTIVE=dev
PRODUCER_PORT=8080
CONSUMER_PORT=8091

# BANCO DE DADOS (MYSQL - PRODUÇÃO)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# CONFIGURAÇÕES BASE RABBITMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_EXCHANGE_ESTATE=estate.exchange

# SEGURANÇA E JWT
JWT_API_KEY=

# EMAIL (SMTP GMAIL)
EMAIL=
EMAIL_PASSWORD=

# INTEGRAÇÕES (CLOUDINARY)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=